
$defalFontColor1:#444;//默认字体颜色
$defalFontColor2:#666;
$defalFontColor3:#999;
$BackgroundColor:#222d3f;
$BackbuttonColor:#237bd0;
$boxShaow:2px 2px 10px rgba(0, 0, 0, 0.2);
$greyBColor:#f9f9f9;//灰色背景

//ul,li{
//  margin: 0;
//  padding: 0;
//  list-style: none;
//}
#Content{
    height: 100%;
    min-width: 1024px;
     display: flex;
     justify-content: space-between;
    overflow: auto;
    margin-top: 70px;
    .content_left{
        width: 430px;
        min-width: 430px;
        display: block;
        background-color: #fff;
        overflow-y: hidden;
        overflow-x:auto ;
        min-height: 900px;
        overflow: auto;
        box-shadow: $boxShaow;
    }
}


