$defalFontColor1:#444;//默认字体颜色
$defalFontColor2:#666;
$defalFontColor3:#999;
$BackgroundColor:#222d3f;
$BackbuttonColor:#237bd0;

$greyBColor:#f9f9f9;//灰色背景
ul,li{
    margin: 0;
    padding: 0;
}
header{
    min-width: 1024px;
    height: 70px;
    background-color: $BackgroundColor;
    position: fixed;
    display: flex;
    justify-content: flex-start;
    top: 0;
    right: 0;
    left: 0;
    z-index: 3001;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.3);
    .header_logo{
        cursor: pointer;
        width: 237px;
        height: 69px;
        display: flex;
        justify-content: center;
        transition: all .3s ease-in-out;
        box-shadow: 0px 0px 5px #11171f;
        .logo_img{
          margin: 0 10px;
            display: flex;
            height: 70px;
            img{
                align-self: center;
                transition: all .5s ease-in-out;
            }  
        } 
        .logo_name{
            color: #fff;
            align-self: center;
            font-size: 18px;
        }
        
    }
    .site_leader{
        display: inline-block;
        height: 70px;
        display: flex;
        justify-content: flex-start;
        margin-left: 105px;
        li{
            display: block;
            width: 90px;
            height: 30px;
            text-align: center;
            line-height: 30px;
            color: #fff;
//          border-radius: 30px;
            align-self: center;  
            font-size: 14px;
            margin-right: 10px;
            cursor: pointer;
        }
        li:hover{
            background:$BackbuttonColor ;
            border-radius: 30px;
            transition: all .4s linear;
        }
}
}
.header_logo:hover{
        transform: translateX(100px);
        .logo_img{
            img{
               transform: rotate(180deg);
            }
        }
}
.site_leader_hover{
    background:$BackbuttonColor ;
    border-radius: 30px;
}


